// colors
$primary-color: #f89f28;
$secondary-color: #e03d14;
$tertiary-color: #ef6c08;

// breakpoints rules
$mobile-widht: 600px;

// padding and margin rules
$padding-desktop: 0 5em;
$padding-mobile: 0 1em;

$max-width: 1200px;
